@import url(http://fonts.googleapis.com/css?family=Cherry+Cream+Soda);

#header {
	background-color: #DDD;
	font-family: 'Cherry Cream Soda', cursive;
}

/********************
HOME
*********************/

#firstBg {
	background: url("img/clouds.jpg") center center;
	position: relative;
	width: 100%;
	min-height: 750px;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top center;
}

#welcome {
	padding: 20%;
	text-align: center;
}

#firstBg h1 {
	font-size: 46px;
	font-family: monospace;
}

#firstBg h2 {
	font-family: monospace;
}


#firstBg ul {
	list-style-type: none;
	margin-left: 0;
}

#firstBg ul li{
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}


hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.btn {
    display: inline-block;
    color: #000;
    border: 2px outset rgba(0, 0, 0, 0.9);
    background: #C0C0C0;
    text-shadow: 1px 1px 1px rgba(0,0,0, 20);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    letter-spacing: 2px;
    transition: 0.2s;
}

.btn:hover {
	color: #fff;
  border: 2px outset rgba(0, 0, 0, 0.9);
  background: rgba(0,0,0, 0.9);
  transform:scale(1.1);
  transition: 0.2s;
  text-shadow: 1px 1px 1px rgba(0,0,0, 20);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  letter-spacing: 2px;
}


/********************
ABOUT
*********************/

#secondBg {
	background: url("img/transamerica.jpg") center center;
	position: relative;
	width: 100%;
	min-height: 800px;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top center;
	color: orange;
	text-align: center;
}

@font-face {
   font-family: tuffy;
   src: url('fonts/tuffy/Tuffy.otf');
}

#firstColumn {
	text-align: center;
}

h4 {
	padding-top: 15%;
	font-size: 40px;
}

p.about {
	line-height: 275%;
	font-family: tuffy;
	font-size: 18px;
}

.img-circle {
	border-radius: 50%;
	margin-top: 30%;
	max-width: 100%;
    height: auto;
    width: auto;
    border: 1px solid #021A40;
}

/********************
PORTFOLIO
*********************/

#thirdBg {
	background: url("img/underconstruction.jpg") center center;
	position: relative;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top center;
}

#thirdBg .row {
	text-align: center;
	color: #FF0;
}


/********************
CONTACT
*********************/

#fourthBg {
	background: url("img/waterfall.jpg") center center;
	position: relative;
	width: 100%;
	min-height: 700px;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top center;
}

#fourthBg .row {
	text-align: center;
	color: #2555CA;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.col-xs-4 {
	margin-top: 5%;
	background-color: rgba(239, 255, 0, 0.5);
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('img/phone.png');
}

.contact-info li.mail a {
  background-image: url('img/mail1.png');
}

/**********************************
FOOTER
***********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}





